!!! 5
html
  head
  body
    p
      | Try the
      a(href='javascript:(function(){var a=document.createElement("script");a.type="text/javascript",a.src="https://raw.github.com/zodoz/jqCSSEditor/master/bootloader.js",document.getElementsByTagName("head")[0].appendChild(a)})()') bookmarklet
      | .
